<p id="notice"><%= notice %></p>

<h1>Transações (<%= @transactions.count %>)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Ações</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |trx| %>
      <tr>
        <td><%= trx.name %></td>
        <td><%= trx.kind == 'money_deposit' ? "Depósito" : "Saque" %></td>
        <td><%= real(trx.value) %></td>
        <td><%= trx.created_at.to_s(:date_time_env_specific) %></td>
        <td>
          <%= link_to 'Ver', trx, class: "btn btn-primary" %> | <%= link_to 'Apagar', trx, method: :delete, data: { confirm: 'Tem certeza disso?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Transação', new_transaction_path, class: "btn btn-success" %>