<% if !notice.nil? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Atenção</h4>
    <hr>
    <p><%= notice %></p>
    <p>Você pode sacar até: <b><%= real(@account.balance) %></b></p>
  </div>
<% end %>

<h1>Nova Transação</h1>
<p>Saldo atual: <b><%= real(@account.balance) %></b> </p>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Voltar', transactions_path, class: "btn btn-secondary" %>
